passed =0
failed= 0
for students in range (10):
    result = int(input('enter result ( 1=pass, 2=fail): '))
    if result ==1:
        passed = passed+1
    else:
        failed = failed+1
print('passed', passed)
print ('failed', failed)
if passed > 8:
    print ('get bonus')

In [11]:
passed =0
failed= 0
for students in range (10):
    result = int(input('enter result ( 1=pass, 2=fail): '))
    if result ==1:
        passed = passed+1
    elif result==2:
        failed = failed+1
    else:
        print('envalid entry')
print('passed', passed)
print ('failed', failed)
if passed > 8:
    print ('get bonus')

enter result ( 1=pass, 2=fail): 1
enter result ( 1=pass, 2=fail): 2
enter result ( 1=pass, 2=fail): 3
envalid entry
enter result ( 1=pass, 2=fail): 1
enter result ( 1=pass, 2=fail): 2
enter result ( 1=pass, 2=fail): 1
enter result ( 1=pass, 2=fail): 1
enter result ( 1=pass, 2=fail): 1
enter result ( 1=pass, 2=fail): 1
enter result ( 1=pass, 2=fail): 1
passed 7
failed 2

In [14]:
for i in range (2):
    n=int(input("enter value: "))
    if n%2==0:
        print("even")
    else:
        print('odd')

enter value: 3
odd
enter value: 5
odd

In [16]:
for i in range (5, 19):
    print (i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [17]:
for i in range (5,10):
    print(i, sep=" ")

5
6
7
8
9

In [18]:
for i in range (5,10):
    print(i, end=" ")

5 6 7 8 9

In [19]:
for i in range (0, 100, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [24]:
for i in range(0, 100, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [31]:
for i in range (10,1):
    print(i, sep=" ")