In [4]:
import pandas as pd

In [ ]:
import

In [7]:
amazon = pd.read_excel('yahooFinance.xls').head()
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-05-15,428.000000,430.399994,424.299988,426.000000,426.000000,4240300
1,2015-05-18,426.000000,427.269989,421.459991,425.239990,425.239990,2390200
2,2015-05-19,424.869995,428.239990,420.630005,421.709991,421.709991,2464200
3,2015-05-20,420.600006,427.100006,418.359985,423.859985,423.859985,2196200
4,2015-05-21,428.000000,436.899994,428.000000,431.630005,431.630005,4121400